body {
    display: flex;
    background-color: rgb(255, 239, 213);
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    gap: 5px;
    
}



#container {
    /*width: 500px*/
    width: 450px;
    height: 600px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-self: center;
    justify-content: flex-end;
    border-style: solid;
    border-color: teal;
    border-width: 10px;
    border-radius: 10px;
    flex-shrink: 0;
    
}


#display-container {
    /*width: 500px*/
    width: 450px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

#display {
    /*width: 460px*/
    width: 410px;
    height: 150px;
    background-color: grey; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: teal;
    border-width: 5px;
    /*margin-bottom: 15px;*/
    margin-bottom: 0px;
    flex-shrink: 0;

}

/*
.select {
    transform: scale(1.0);
    border-color: #209467;
    box-shadow: 0 0 1rem #209467;
    
    
}
*/

.select {
    transform: scale(1.0);
    border-color: #FFFAF0;
    box-shadow: 0 0 1rem #FFFAF0;
}

/*
.select2 {
    transform: scale(1.05);
    border-color: #209467;
    box-shadow: 0 0 1rem #209467;
    
    
}
*/

.select2 {
    transform: scale(1.05);
    border-color: whitesmoke;
    box-shadow: 0 0 1rem whitesmoke;
    
    
}


.circle {
    width: 50px;
    height: 50px;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
}

.line {
    width: 0px;
    height: 50px;
    background-color: grey;
}

.left {
    width: 25px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    align-self: center;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
   
}

.right {
    width: 25px;
    height: 50px;
    background-color: whitesmoke;
    align-self: center;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    
}


.box {
    width: 30px;
    height: 30px;
    margin-left: -65px;
    margin-top: 170px;
    font-size: 25px;
}

.light {
    /*
    width: 15px;
    height: 15px;
    */
    width: 11px;
    height: 11px;
    /*margin-top: 170px; dont use*/
    background-color: #585858;
    /*margin-left: -420px;*/
    /*margin-bottom: 3px;*/
    margin-bottom: 179px;
    margin-left: -420px;
    border-radius: 90px;
    border-style: inset;
    position: absolute;
}

.on {
    background-color: red;
    transform: scale(1.02);
    border-color: red;
    box-shadow: 0 0 1rem red;
}


.light2 {
    /*
    width: 15px;
    height: 15px;
    */
    width: 11px;
    height: 11px;
    
    /*margin-top: 170px; dont use*/
    background-color: #585858;
    /*margin-left: -370px;*/
    margin-left: -370px;
    /*margin-bottom: -15px; dont use*/
    /*margin-bottom: -21px;*/
    margin-bottom: 179px;
    border-radius: 90px;
    border-style: inset;
    position: absolute;
    
}

.on2 {
    background-color: gold;
    transform: scale(1.02);
    border-color: gold;
    box-shadow: 0 0 1rem gold;
}





.containerLight {
    background-color: gold;
    transform: scale(1.00);
    border-color: gold;
    box-shadow: 0 0 5.5rem gold;

}


button.active, button:active {
    border: 1px solid rgb(0,0,0);
    box-shadow: 0 0 2px 0 rgb(0,0,0);
}


#legend {
    width: 300px;
    /*height: 500px;*/
    /*height: 900px;*/
    height: 619.6px;
    /*margin-bottom: -363px;*/
    /*margin-bottom: -774px;*/
    margin-bottom: -496.5px;
    margin-left: -750px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-shrink: 0;
    color: teal;
    border-color: whitesmoke;
    border-style: outset;
    
}


.field {
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.key {
    width: 75px;
    height: 45px;
    /*background-color: teal;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: whitesmoke;
}

.arrow {
    width: 80px;
    height: 40px;
    /*background-color: teal;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}


.explain {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: whitesmoke;
}
